In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import os
from tensorflow.keras.callbacks import ModelCheckpoint
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN", "NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes.index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df.APPLICATION_TYPE.value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_count[application_count < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df.CLASSIFICATION.value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_count[classification_count < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
app_class = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
app_class

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[app_class]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(app_class)
encode_df.head()

C:\Users\koolk\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(app_class, 1)
application_df.head()

C:\Users\koolk\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\koolk\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 400
hidden_nodes_layer2 = 250
hidden_nodes_layer3 = 200
hidden_nodes_layer4 = 175
hidden_nodes_layer5 = 150
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

#Add additional hidden layers
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="sigmoid"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 400)               17600

 dense_11 (Dense)            (None, 250)               100250

 dense_12 (Dense)            (None, 200)               50200

 dense_13 (Dense)            (None, 175)               35175

 dense_14 (Dense)            (None, 150)               26400

 dense_15 (Dense)            (None, 1)                 151

=================================================================
Total params: 229,776
Trainable params: 229,776
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
model_train = nn.fit(X_train_scaled, y_train, epochs=150, shuffle=True)

Epoch 1/150
804/804 [==============================] - 4s 3ms/step - loss: 0.5794 - accuracy: 0.7173
Epoch 2/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5635 - accuracy: 0.7289
Epoch 3/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5595 - accuracy: 0.7290
Epoch 4/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5563 - accuracy: 0.7291
Epoch 5/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5549 - accuracy: 0.7299
Epoch 6/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5539 - accuracy: 0.7301
Epoch 7/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5520 - accuracy: 0.7313
Epoch 8/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5515 - accuracy: 0.7305
Epoch 9/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5499 - accuracy: 0.7322
Epoch 10/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5499 - accuracy: 0.7321
Epoch 11/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5494 - accuracy: 0.7320
Epoch 12/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7327
Epoch 13/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7336
Epoch 14/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7345
Epoch 15/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7341
Epoch 16/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5465 - accuracy: 0.7341
Epoch 17/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5466 - accuracy: 0.7342
Epoch 18/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5456 - accuracy: 0.7344
Epoch 19/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5449 - accuracy: 0.7364
Epoch 20/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 21/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5437 - accuracy: 0.7354
Epoch 22/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5439 - accuracy: 0.7358
Epoch 23/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5440 - accuracy: 0.7369
Epoch 24/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7371
Epoch 25/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5425 - accuracy: 0.7369
Epoch 26/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7376
Epoch 27/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7385
Epoch 28/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5420 - accuracy: 0.7372
Epoch 29/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5425 - accuracy: 0.7383
Epoch 30/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5409 - accuracy: 0.7390
Epoch 31/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7388
Epoch 32/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5411 - accuracy: 0.7386
Epoch 33/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5406 - accuracy: 0.7391
Epoch 34/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5406 - accuracy: 0.7395
Epoch 35/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7383
Epoch 36/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5395 - accuracy: 0.7389
Epoch 37/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5395 - accuracy: 0.7393
Epoch 38/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5408 - accuracy: 0.7393
Epoch 39/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - accuracy: 0.7391
Epoch 40/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5394 - accuracy: 0.7392
Epoch 41/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7399
Epoch 42/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 43/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7380
Epoch 44/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7392
Epoch 45/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 46/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7401
Epoch 47/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 48/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7399
Epoch 49/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7394
Epoch 50/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 51/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7401
Epoch 52/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7406
Epoch 53/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 54/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7400
Epoch 55/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7403
Epoch 56/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 57/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7397
Epoch 58/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7400
Epoch 59/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7404
Epoch 60/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7405
Epoch 61/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 62/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7393
Epoch 63/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 64/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 65/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7406
Epoch 66/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5366 - accuracy: 0.7400
Epoch 67/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7411
Epoch 68/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7403
Epoch 69/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 70/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7406
Epoch 71/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7401
Epoch 72/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7411
Epoch 73/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7406
Epoch 74/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7405
Epoch 75/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 76/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7408
Epoch 77/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7413
Epoch 78/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7414
Epoch 79/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7411
Epoch 80/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7409
Epoch 81/150

804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7412
Epoch 82/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7415
Epoch 83/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7406
Epoch 84/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7420
Epoch 85/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7411
Epoch 86/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5341 - accuracy: 0.7419
Epoch 87/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7415
Epoch 88/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5362 - accuracy: 0.7418
Epoch 89/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7409
Epoch 90/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7406
Epoch 91/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7414
Epoch 92/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7411
Epoch 93/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5345 - accuracy: 0.7408
Epoch 94/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5348 - accuracy: 0.7409
Epoch 95/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7408
Epoch 96/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7414
Epoch 97/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7403
Epoch 98/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7423
Epoch 99/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7413
Epoch 100/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7421
Epoch 101/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7405
Epoch 102/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7407
Epoch 103/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7415
Epoch 104/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7415
Epoch 105/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7418
Epoch 106/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 107/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7412
Epoch 108/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7413
Epoch 109/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7413
Epoch 110/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7414
Epoch 111/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7417
Epoch 112/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 113/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7414
Epoch 114/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7406
Epoch 115/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7392
Epoch 116/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7414
Epoch 117/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7420
Epoch 118/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7415
Epoch 119/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7415
Epoch 120/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7411
Epoch 121/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 122/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 123/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7422
Epoch 124/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7420
Epoch 125/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7420
Epoch 126/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7421
Epoch 127/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7421
Epoch 128/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5341 - accuracy: 0.7416
Epoch 129/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 130/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7417
Epoch 131/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 132/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7412
Epoch 133/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7411
Epoch 134/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 135/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7408
Epoch 136/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7417
Epoch 137/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5339 - accuracy: 0.7412
Epoch 138/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7418
Epoch 139/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7417
Epoch 140/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7413
Epoch 141/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7413
Epoch 142/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7419
Epoch 143/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7420
Epoch 144/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7411
Epoch 145/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7409
Epoch 146/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - accuracy: 0.7411
Epoch 147/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7414
Epoch 148/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 149/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7422
Epoch 150/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7424

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5624 - accuracy: 0.7261 - 637ms/epoch - 2ms/step
Loss: 0.5624166131019592, Accuracy: 0.726064145565033